alembic==1.8.1
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
audeer==1.18.0
audiofile==1.1.0
audioread==2.1.9
audtorch==0.6.4
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bidict==0.22.0
bleach==5.0.1
blinker==1.4
brotlipy==0.7.0
catboost==1.0.6
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
cvxportfolio==0.0.12
cvxpy==1.2.1
cvxpylayers==0.1.5
cycler==0.11.0
databricks-cli==0.17.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
diffcp==1.0.19
dill==0.3.5.1
Django==3.2.14
docker==5.0.3
docopt==0.6.2
ecos==2.0.10
empyrical==0.5.5
entrypoints==0.4
fastjsonschema==2.16.1
filelock==3.7.1
fire==0.4.0
Flask==2.1.3
flatbuffers==1.12
fonttools==4.34.4
future==0.18.2
gast==0.3.3
gitdb==4.0.9
GitPython==3.1.27
graphviz==0.20.1
greenlet==1.1.2
grpcio==1.32.0
gunicorn==20.1.0
gym==0.25.0
gym-notices==0.0.7
hyperopt==0.1.2
image==1.5.33
importlib-metadata==4.12.0
importlib-resources==5.9.0
iniconfig==1.1.1
ipykernel==6.15.1
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.9
jsonpatch==1.32
jsonpickle==1.5.2
jsonpointer==2.3
jsonschema==4.9.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.4
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-widgets==1.1.1
kiwisolver==1.4.4
latexify-py==0.0.7
librosa==0.9.2
lightgbm==3.3.2
line-profiler==3.5.1
llvmlite==0.39.0
loguru==0.6.0
lxml==4.9.1
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-service==2.4.0
mlflow==1.27.0
multitasking==0.0.11
munch==2.5.0
nbclassic==0.4.3
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.12
notebook-shim==0.1.0
numba==0.56.0
numexpr==2.8.3
numpy==1.20.1
oauthlib==3.2.0
osqp==0.6.2.post5
packaging==21.3
pandas==1.3.5
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickle5==0.0.12
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
plotly==5.9.0
pluggy==1.0.0
pooch==1.6.0
print==1.3.0
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.2
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==8.0.0
pyasn1-modules==0.2.8
pybind11==2.10.0
Pygments==2.12.0
pymongo==3.7.2
pyparsing==3.0.9
PYPOWER==5.1.15
pyqlib==0.8.6
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
python-engineio==4.3.3
python-redis-lock==3.7.0
python-socketio==5.7.1
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.0
qdldl==0.1.5.post2
qpth==0.0.15
qtconsole==5.3.1
QtPy==2.1.0
querystring-parser==1.2.4
redis==4.3.4
requests-oauthlib==1.3.0
resampy==0.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
sacred==0.8.2
schedule==1.1.0
scikit-learn==1.0.2
scs==3.2.1
Send2Trash==1.8.0
setuptools-scm==7.0.5
six==1.15.0
smmap==5.0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
sox==1.4.1
SQLAlchemy==1.4.39
sqlparse==0.4.2
statsmodels==0.13.2
tables==3.7.0
tabulate==0.8.10
tenacity==8.0.1
tensorboardX==2.5.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchfile==0.1.0
torchvision==0.13.0+cu116
torchviz==0.0.2
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.1
widgetsnbextension==3.6.1
wrapt==1.12.1
xgboost==1.6.1
xlrd==2.0.1
yfinance==0.1.74
zipp==3.8.1
